<div class = "container" >
    <div class = col-md-12>
        <h3 align = "center">Nuevo Evento Personalizado</h3>

        <!--La información acerca del evento-->
        <div class = "col-md-6">

            <!--Datos del evento-->
            <form ng-submit="agregar()">

                <!--Fechas-->
                <div class ="col-md-6">
                    <label>Fecha Inicio: </label>
                        <div class='input-group date' id='from'>
                            <input id="date" name="date" class="form-control" type='text' class="form-control" required ng-model="fechaInicial"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                </div>
                <div class ="col-md-6">
                    <label>Fecha Fin: </label>
                        <div class='input-group date' id='from'>
                            <input id="date" name="date" class="form-control" type='text' class="form-control" required ng-model="fechaFinal"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                        </div>
                </div>
                    <div class="col-md-12">
                        <label class="formulario" for="nombre">Nombre </label>
                        <input class="espacio" type="text" placeholder="Nombre del evento" id="nombre" required ng-model="nombre"><br>
                    </div>

                    <div class="col-md-12">
                        <label class="formulario" for ="ciudad">Ciudad </label>
                        <input class="espacio" type="text" placeholder="Ciudad del evento" id="ciudad" required ng-model="ciudad"><br>
                    </div>

                    <div class="col-md-12">
                        <label class="formulario" for="direccion">Dirección </label>
                        <input class="espacio" type="text" placeholder="Dirección del evento" id="direccion" required ng-model="direccion"><br>
                    </div>

                    <div class="col-md-12">
                        <label class="formulario" for="descripcion">Descripción </label>
                        <input class="espacio grande" type="text" placeholder="Descripción del evento" id ="descripcion" ng-model="descripcion"><br>
                    </div>

                    <button type="submit" class="crear">Crear evento</button>
                </form>
        </div>

        <!--Aqui se cargan las fotos-->
        <div class = "col-md-6">

            <div class="input-group">
                <div tabindex="500" class="form-control file-loading" style="width: 320px">
                    <div class="file-caption-name">
                        <span class="glyphicon glyphicon-file"></span>
                    </div>
                </div>

                <div class="input-group-btn">
                    <button type="button" tabindex="500" class="btn btn-default">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span class="hidden-xs">Remove</span>
                    </button>
                    <button type="button" tabindex="500" class="btn btn-default">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span class="hidden-xs">Upload</span>
                    </button>
                    <div tabindex="500" class="btn btn-primary btn-file">
                        <i class="glyphicon glyphicon-folder-open"></i>
                        <span class="hidden-xs">Browse ...</span>
                        <input id="input-image-2" name="input-image" type="file" accept="image/*">
                    </div>
                </div>
            </div>

            <script src="/js/plugins/canvas-to-blob.js"></script>
                <script src="/js/fileinput.js"></script>
                <script>
                $("#input-image-2").fileinput({
                    uploadUrl: "/site/image-upload",
                    allowedFileExtensions: ["jpg", "png", "gif"],
                    maxImageHeight: 150,
                    maxFileCount: 1,
                    resizeImage: true
                }).on('filepreupload', function() {
                    $('#kv-success-box').html('');
                }).on('fileuploaded', function(event, data) {
                    $('#kv-success-box').append(data.response.link);
                    $('#kv-success-modal').modal('show');
                });
                </script>
<!--                <table border="1">
                    <tr>
                      <th>Id</th>
                      <th>FechaInicio</th>
                      <th>FechaFin</th>
                      <th>Nombre</th>
                      <th>Ciudad</th>
                      <th>Direccion</th>
                      <th>Description</th>
                    </tr>
                    <tr ng-repeat="tarea in records">
                          <td>
                              <label ng-model="tarea.id">{{tarea.id}}</label>
                          </td>
                          <td>
                              <label ng-model="tarea.date1">{{tarea.date1}}</label>
                          </td>
                          <td>
                              <label ng-model="tarea.date2">{{tarea.date2}}</label>
                          </td>
                          <td>
                              <label ng-model="tarea.name">{{tarea.name}}</label>
                          </td>
                          <td>
                              <label ng-model="tarea.city">{{tarea.city}}</label>
                          </td>
                          <td>
                              <label ng-model="tarea.address">{{tarea.address}}</label>
                          </td>
                          <td>
                              <label ng-model="tarea.description">{{tarea.description}}</label>
                          </td>
                      </tr>
                  </table>-->
                <!--<button class="cancelar" data-has-cancel-button="true" data-has-confirm-button="true">Cancelar</button>-->
        </div>
    </div>
</div>

