<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link href="resources/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

        <script src="resources/js/jquery-1.12.0.min.js" type="text/javascript"></script>
        <script src="resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="resources/js/angular.min.js" type="text/javascript"></script>
        <script src="resources/js/angular-ui-router.min.js" type="text/javascript"></script>

        <script src="src/app.js" type="text/javascript"></script>
        <title>Crear Itinerario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script data-require="jquery@*" data-semver="2.1.4" src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script data-require="bootstrap@3.3.6" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" type="text/css"/>
        <script src="script.js"></script>

    </head>
    <body>
          <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GoTravel</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Perfil <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Recuerdos</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" >Itinerarios <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Itinerario 1</a></li>
            <li><a href="#">Itinerario 2</a></li>
            <li><a href="#">Itinerario 3</a></li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Go!</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" >Sing out<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>

            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

<div ng-init="list = true" >
    <div id="navbar">
        <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#book-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Mis recuerdos</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="book-navbar">
                <button id="create-book" class="btn btn-default navbar-btn" ng-show="list" ng-click="list = false"><span class="glyphicon glyphicon-plus"></span> Crear itinerario</button>
                <button id="refresh-book" class="btn btn-default navbar-btn" ng-show="list" ng-click="list = true"><span class="glyphicon glyphicon-refresh"></span> Refrescar itinerario</button>
                <button id="compartir" class="btn btn-default navbar-btn" ng-show="list" ng-click="list = true"><span class="glyphicon glyphicon-share"></span>Compartir</button>
                <button id="save-book" class="btn btn-default navbar-btn" ng-hide="list" ng-click="list = true"><span class="glyphicon glyphicon-save"></span> Guardar</button>
                <button id="cancel-book" class="btn btn-default navbar-btn" ng-hide="list" ng-click="list = true"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
            </div>
        </div>
    </nav>
    </div>

    <div class="col-md-4 col-sm-6 col-lg-3 well">
        <div class="col-md-12">
            <section class="_29u55" >
                <button class = "_8g9t0"></button>
                <form enctype = "multipart/form-data">
                    <button class="_n4m46">
                        <span class = "_p1u2e _ldozo">
                            <span class = "_32wir"></span>
                            <span>Foto</span>
                        </span>
                        <span>Añade nuevos recuerdos</span>
                    </button>
                </form>
            </section>
        </div>
    </div>

    <div ng-if="!list" class="well">
        <form novalidate name="form" id="book-form" role="form">
            <fieldset>
                <input id="id" class="form-control" type="hidden"/>
                <div class="form-group col-md-12">
                    <label for="name" class="col-md-2 control-label">Nombre</label>
                    <div class="col-md-10">
                        <input id="name" name="name" class="form-control" type="text" required />
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="description" class="col-md-2 control-label">Comentarios</label>
                    <div class="col-md-10">
                        <input id="description" name="description" class="form-control" type="text" required />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</nav>
    </body>
</html>
