<div class="container-fluid">
    <div>
        <button type="button" id="create-evento" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="ctrl.createRecord()"><span class="glyphicon glyphicon-plus"></span> Crear evento</button>
        <button id="refresh-evento" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="ctrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refrescar</button>
    </div>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
    <div ng-hide="ctrl.eventosMode">
        <div class="col-sm-12">
            <div ng-repeat="record in records">
                <div class="col-md-4 col-sm-6 col-lg-3 well">
                    <div class="caption" >
                        <p><strong>Nombre:</strong> <span id="{{$index}}-name">{{record.name}}</span></p>
                        <p><strong>Tipo</strong> <span id="{{$index}}-tipo">{{record.tipo}}</span></p>
                        <p><strong>Calificacion</strong> <span id="{{$index}}-calificacion">{{record.calificacion}}</span></p>
                        <p><strong>Precio</strong> <span id="{{$index}}-precio">{{record.precio}}</span></p>
                        <p><strong>Descripcion</strong> <span id="{{$index}}-descripcion">{{record.descripcion}}</span></p>
                        <p><strong>Lugar</strong> <span id="{{$index}}-lugar">{{record.lugar}}</span></p>
                        <p><strong>Fecha inicio</strong> <span id="{{$index}}-fechaInicio">{{record.fechaInicio}}</span></p>
                        <p><strong>Fecha fin</strong> <span id="{{$index}}-fechaFin">{{record.fechaFin}}</span></p>

                    </div>
                    <p class="text-center">
                        <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ng-click="ctrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span> Editar</button>
                        <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="ctrl.editMode" class="col-md-6 well">
        <form novalidate name="form" id="evento-form" role="form" ng-submit="ctrl.saveRecord()">
            <alert ng-messages="form.$error" type="danger" close="" ng-hide="!form.$error.required">
                <div ng-message="required">
                    Por favor ingrese los datos del evento
                </div>
            </alert>
            <fieldset>
                <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
                <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                    <label for="name" class="col-md-2 control-label">Nombre</label>
                    <div class="col-md-10">
                        <input id="name" name="name" class="form-control" type="text" ng-model="currentRecord.name" required />
                    </div>
                </div>
                <div class="form-group col-md-12" ng-class="{'has-success': form.tipo.$valid && form.tipo.$dirty, 'has-error': form.tipo.$invalid && (form.tipo.$dirty || form.$submitted)}" >
                    <label for="tipo" class="col-md-2 control-label">Tipo</label>
                    <div class="col-md-10">
                        <input id="tipo" name="tipo" class="form-control" type="text" ng-model="currentRecord.tipo" required />
                    </div>
                </div>
                <div class="form-group col-md-12" ng-class="{'has-success': form.calificacion.$valid && form.calificacion.$dirty, 'has-error': form.calificacion.$invalid && (form.calificacion.$dirty || form.$submitted)}" >
                    <label for="calificacion" class="col-md-2 control-label">Calificacion</label>
                    <div class="col-md-10">
                        <input id="calificacion" name="calificacion" class="form-control" type="text" ng-model="currentRecord.calificacion" required />
                    </div>
                </div>
                <div class="form-group col-md-12" ng-class="{'has-success': form.precio.$valid && form.precio.$dirty, 'has-error': form.precio.$invalid && (form.precio.$dirty || form.$submitted)}" >
                    <label for="precio" class="col-md-2 control-label">Precio</label>
                    <div class="col-md-10">
                        <input id="precio" name="precio" class="form-control" type="text" ng-model="currentRecord.precio" required />
                    </div>
                </div>
                <div class="form-group col-md-12" ng-class="{'has-success': form.descripcion.$valid && form.descripcion.$dirty, 'has-error': form.descripcion.$invalid && (form.descripcion.$dirty || form.$submitted)}" >
                    <label for="descripcion" class="col-md-2 control-label">Descripcion</label>
                    <div class="col-md-10">
                        <input id="descripcion" name="descripcion" class="form-control" type="text" ng-model="currentRecord.descripcion" required />
                    </div>
                </div>
                <div class="form-group col-md-12" ng-class="{'has-success': form.lugar.$valid && form.lugar.$dirty, 'has-error': form.lugar.$invalid && (form.lugar.$dirty || form.$submitted)}" >
                    <label for="lugar" class="col-md-2 control-label">Lugar</label>
                    <div class="col-md-10">
                        <input id="lugar" name="lugar" class="form-control" type="text" ng-model="currentRecord.lugar" required />
                    </div>
                </div>
                <div class="form-group col-md-12" ng-class="{'has-success': !form.fechaInicio.$error.required && form.fechaInicio.$dirty, 'has-error': form.fechaInicio.$error.required && (form.fechaInicio.$dirty || form.$submitted)}" >
                    <label for="fechaInicio" class="col-md-2 control-label">Fecha inicio</label>
                    <div class="col-md-10">
                        <p class="input-group">
                            <input type="text" id="fechaInicio" name="fechaInicio" class="form-control" ng-model="currentRecord.fechaInicio" ng-required="model.required" datepicker-popup is-open="opened" readonly/>
                            <span class="input-group-btn">
                                <button type="button" id="fechaInicio-datepicker" class="btn btn-default" ng-click="open($event)"><span class="glyphicon glyphicon-calendar"></span></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-12" ng-class="{'has-success': !form.fechaFin.$error.required && form.fechaFin.$dirty, 'has-error': form.fechaFin.$error.required && (form.fechaFin.$dirty || form.$submitted)}" >
                    <label for="fechaFin" class="col-md-2 control-label">Fecha fin</label>
                    <div class="col-md-10">
                        <p class="input-group">
                            <input type="text" id="fechaFin" name="fechaFin" class="form-control" ng-model="currentRecord.fechaFin" ng-required="model.required" datepicker-popup is-open="opened" readonly/>
                            <span class="input-group-btn">
                                <button type="button" id="fechaFin-datepicker" class="btn btn-default" ng-click="open($event)"><span class="glyphicon glyphicon-calendar"></span></button>
                            </span>
                        </p>
                    </div>
                </div>
            </fieldset>

            <button id="save-evento" type="submit" form="evento-form" class="btn btn-default navbar-btn" ng-show="ctrl.editMode"><span class="glyphicon glyphicon-save"></span> Agregar</button>
            <button id="cancel-evento" type="button" form="evento-form" class="btn btn-default navbar-btn" ng-show="ctrl.editMode" ng-click="form.$setPristine(); ctrl.fetchRecords();"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
        </form>
    </div>

    <!--    <div ng-hide="true">
            <h1 align="center"> Concierto Filarmonica </h1>
            <br>

            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                             Indicators
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                            </ol>

                             Wrapper for slides
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="http://placehold.it/800x400?text=IMAGE" alt="Image">
                                    <div class="carousel-caption">
                                        <h3> </h3>
                                        <p> img1</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <img src="http://placehold.it/800x400?text=Another Image Maybe" alt="Image">
                                    <div class="carousel-caption">
                                        <h3></h3>
                                        <p>img2</p>
                                    </div>
                                </div>
                            </div>

                             Left and right controls
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        Calificación  Evento: <div class="ec-stars-wrapper">
                            <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                            <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                            <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                            <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                            <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        fecha:

                        <div class="container">
                            <div class="row">


                                de: <input type="datetime" name="inicio" step="1" min="2016-01-01T00:00:00Z" max="2016-12-31T12:00:00Z" value="2016-01-01T23:59:60Z" disabled>  a : <input type="datetime" name="fin" step="1" min="2016-01-01T00:00:00Z" max="2016-12-31T12:00:00Z" value="2016-01-01T23:59:60Z" disabled>




                            </div>
                        </div>

                        <br>
                        <button type="button" class="btn btn-success" style="float:center;">Agregar a mi itinerario</button>

                    </div>
                </div>

            </div>
            <hr>


            <div class="container text-center">
                <h3>Información turística de evento:</h3>
                <p> A 50 kms de la capital, encontraremos el restaurante Tapitas </p>
                <hr>
            </div>

            <div class="container text-center">
                <h3>Comentarios:</h3>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="well">
                            <p>Julio</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="well">
                            <p>Me gusto</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="well">
                            <p>Bo</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="well">
                            <p>no me gusto</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>-->
</div>







