/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 17/02/2016, 10:54:44 AM
    Author     : r.cardenas11
*/


  .btn.btn-primary.btn-lg {
      height: 50px;
      width: 220px;
      text-align: center;
      font-size: 15px;
    }

    #itinerario {
      /*max-width: 100%;
      /* This will remove the outer padding, and push content edge to edge */
      padding-right: 10px;
      padding-left: 10px;

      width: 500px;
    }

    .btn.btn-default {
      background-color: #28292A;
      margin-bottom: 0;
      border-radius: 0;
    }

    #mapa {

      float: right;
      margin-bottom: 0;
      border-radius: 0;
      width: 620px;
      height: 620px;
      padding: 10px;
    }

    #opciones {
      background: #28292A;
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left, #28292A, #747575);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, #28292A, #747575);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, #28292A, #747575);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, #28292A, #747575);
      /* Standard syntax */
      background-color: #28292A;
      width: 930px;
      height: 100px;
      padding-right: 10px;
      padding-left: 10px;
    }

    #eventos {
      width: auto;
      padding-right: 10px;
      padding-left: 10px;
      height: 400px;
      overflow: scroll;
    }
      #itinerario {
        max-width: 100%;
        /* This will remove the outer padding, and push content edge to edge */
        padding-right: 0;
        padding-left: 0;
        width: 930px;
        float: right;

      }
  
      /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
      .row.content {
        height: 450px
      }
      /* Set gray background color and 100% height */
      .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        height: 100%;
      }
      /* Set black background color, white text and some padding */
      .footer {
        background-color: #28292A;
        color: white;
        padding: 15px;
      }