<div>
    <div class="collapse navbar-collapse">
        <button class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="fetchRecords()">Pedir Entrada</button>
        <button class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="createRecord()">Crear Entrada</button>
        <button id="save" type="submit" form="author-form" class="btn btn-default navbar-btn" ng-show="ctrl.editMode">Post</button>
        <button id="cancel" type="button" form="author-form" class="btn btn-default navbar-btn" ng-show="ctrl.editMode" ng-click="form.$setPristine();
                            ctrl.fetchRecords();">Cancelar</button>
    </div>
	<div ng-hide="ctrl.editMode" class="col-md-6">
		<table class="table table-striped table-bordered">
                    <thead>
			<tr>
				<th>ID</th>
				<th>Username</th>
				<th>Date</th>
				<th>Reply</th>
			</tr>
                    </thead>
                    <tbody>
			<tr ng-repeat="x in records">
				<td>{{x.id}}</td>
				<td>{{x.username}}</td>
				<td>{{x.date | date}}</td>
				<td>{{x.reply}}</td>
			</tr>
                    </tbody>
		</table>
	</div>
	<div ng-show="ctrl.editMode" class="col-md-6 well">
            <form novalidate name="form" id="author-form" role="form" ng-submit="form.$valid && ctrl.saveRecord()">
                <fieldset>
                    <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
                    <label for="username" class="col-md-2 control-label">Username</label>
                        <div>
                            <input id="username" name="username" type="text" ng-model="currentRecord.username" required>
                        </div>
                    <label for="reply" class="col-md-2 control-label">Reply</label>
                    <textarea id="reply" name="reply" ng-model="currentRecord.reply" rows="10" cols="30" required>

                    </textarea>
                </fieldset>
            </form>
	</div>
</div>