<div ng-init="list = true">
    <div id = "navbar">
        <nav class = "navbar navbar-default" role = "navigation">
            <div class = "container-fluid">
                <div class = "navbar-header">
                    <button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target="#book-navbar">
                        <span class = "sr-only">Toggle Navigation</span>
                        <span class = "icon-bar"></span>
                        <span class = "icon-bar"></span>
                    </button>
                    <a class = "navbar-brand">Mis Recuerdos</a>
                </div>

            <!-- En el siguiente bloque se definen los botones a usar para crear un Recuerdo-->
                <div class = "collapse navbar-collapse" id="book-navbar">
                    <button id="crear-itinerario" class="btn btn-default navbar-btn" ng-show="list" ng-click="list = false"><span class="glyphicon glyphicon-plus"></span> Crear itinerario</button>
                    <button id="refrescar-itinerario" class="btn btn-default navbar-btn" ng-show="list" ng-click="list = true"><span class="glyphicon glyphicon-refresh"></span> Refrescar</button>
                    <button id="compartir-itinerario" class="btn btn-default navbar-btn" ng-show="list" ng-click="list = true"><span class="glyphicon glyphicon-share"></span> Compartir</button>
                    <button id="guardar-cambios" class="btn btn-default navbar-btn" ng-hide="list" ng-click="list = true"><span class="glyphicon glyphicon-save"></span> Guardar cambios</button>
                    <button id="cancelar-cambios" class="btn btn-default navbar-btn" ng-hide="list" ng-click="list = true"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                </div>
            </div>
        </nav>
    </div>

    <!-- Bloque que se activa cuando se presiona el boton Crear itinerario, el cual permite crear un nuevo Recuerdo-->
    <div ng-if="!list" class="well">
        <form novalidate name = "form" id="forma-itinerario" role="form">
            <fieldset>
                <input id="id" class="form-control" type="hidden"/>
                <div class="form-group col-md-12">
                    <label for="name" class="col-md-2 control-label">Nombre</label>
                    <div class="col-md-10">
                        <input id="name" name="name" class="form-control" type="text" required />
                    </div>

                    <div class="form-group col-md-12">
                        <label for="description" class="col-md-2 control-label">Descripcion</label>
                        <div class="col-md-10">
                           <input id="description" name="description" class="form-control" type="text" required />
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>