<div>
    <div class="configuracion">
        <p>Ingrese los datos de la ciudad en los siguientes campos:</p>
        <input type="text" ng-model="nombreCiudad" placeholder="Nombre ciudad">
        <input type="text" ng-model="descripcionCiudad" placeholder="Descripcion ciudad">
        <input type="text" ng-model="climaCiudad" placeholder="Clima ciudad">
        <input type="text" ng-model="longitudCiudad" placeholder="Longitud ciudad">
        <input type="text" ng-model="latitudCiudad" placeholder="Latitud ciudad">

        <button type="button" onclick="alert('funciona.')">Crear ciudad</button>
    </div>

    <div class="jumbotron">
        <div class="container text-center">
            <h1>{{nombreCiudad}}</h1>
            <p>{{descripcionCiudad}}. Clima {{climaCiudad}}</p>
            <p><b>Longitud: </b>{{longitudCiudad}} <b>Latitud: </b>{{latitudCiudad}}</p>
        </div>
    </div>

    <div class="instrucciones">
        <button type="button" class="btn btn-primary">Evento deportivo</button>
        <button type="button" class="btn btn-success">Concierto</button>
        <button type="button" class="btn btn-info">Restaurante</button>
        <button type="button" class="btn btn-warning">Evento cultural</button>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">SANTA FE VS MILLONARIOS</div>
                    <div class="panel-body"><img src="https://upload.wikimedia.org/wikipedia/commons/8/80/Tuchin_Balon_Futbol_Colombiano.jpg" class="img-responsive" style="width:100%" alt="Balón de la Liga Águila"></div>
                    <div class="panel-footer">Clásico capitalino correspondiente a la fecha 9 de la Liga Aguila. <b>Sábado 9 de Abril 5:45 pm.</b></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading">CONCIERTO COLDPLAY</div>
                    <div class="panel-body"><img src="https://upload.wikimedia.org/wikipedia/commons/3/3d/Coldplay-snl.jpg" class="img-responsive" style="width:100%" alt="Integrantes de la banda Coldplay"></div>
                    <div class="panel-footer">El concierto de una de las bandas británicas más populares se realizará en el estadio El Campín. <b>Miércoles 13 de Abril 8:00 pm.</b></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">GoTravel restaurant</div>
                    <div class="panel-body"><img src="https://static.pexels.com/photos/7900/food-pasta-tomato-theme-workspaces.jpg" class="img-responsive" style="width:100%" alt="Pasta"></div>
                    <div class="panel-footer">Inauguración de restaurante italiano en Ciudad Salitre. <b>Lunes 18 de Abril 9:00 pm.</b></div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">NUEVA OBRA DE TEATRO</div>
                    <div class="panel-body"><img src="https://pixabay.com/static/uploads/photo/2016/01/19/15/48/luggage-1149289_960_720.jpg" class="img-responsive" style="width:100%" alt="Foto de una maleta"></div>
                    <div class="panel-footer">Se estrena la esperada obra GoTravel. <b>Sábado 23 de Abril 12:00 pm.</b> </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">CICLOVIA NOCTURNA</div>
                    <div class="panel-body"><img src="https://adventurebeforeavarice.files.wordpress.com/2013/11/la-septima1.jpg" class="img-responsive" style="width:100%" alt="Ciclistas en Bogotá"></div>
                    <div class="panel-footer">Aproveche el próximo jueves por la noche para dar un paseo por Bogotá. <b>Jueves 28 de Abril 6:00 pm.</b> </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">TORNEO WTA</div>
                    <div class="panel-body"><img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Pereira_WMQ13-007.jpg" class="img-responsive" style="width:100%" alt="Teliana Pereira, jugadora de tenis"></div>
                    <div class="panel-footer">Bogotá será sede de un torneo WTA, en el que figuran jugadoras como Teliana Pereira. <b>Del 11 al 17 de Abril.</b></div>
                </div>
            </div>
        </div>
    </div><br><br>

    <div class="collapse navbar-collapse" id="usuario-navbar">
        <button type="button" id="create-ciudad" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="ctrl.createRecord()"><span class="glyphicon glyphicon-plus"></span>Crear ciudad</button>
        <button id="refresh-ciudad" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="ctrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refrescar</button>
        <button id="save-ciudad" type="submit" form="ciudad-form" class="btn btn-default navbar-btn" ng-show="ctrl.editMode"><span class="glyphicon glyphicon-save"></span>Agregar</button>
        <button id="cancel-ciudad" type="button" form="ciudad-form" class="btn btn-default navbar-btn" ng-show="ctrl.editMode" ng-click="form.$setPristine(); ctrl.fetchRecords();"><span class="glyphicon glyphicon-remove"></span>Cancelar</button>
    </div>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
    <div ng-hide="ctrl.editMode">
        <div class="col-sm-12">
            <div ng-repeat="record in records">
                <div class="col-md-4 col-sm-6 col-lg-3 well">
                    <div class="col-md-12">
                        <div class="img-thumbnail" id="image" ng-if="record.image">
                            <a ng-href="{{record.image}}" target="_blank"><img class="img-responsive" style="height: 20vmax;" ng-src="{{record.image}}" alt="{{record.image}}"></a>
                        </div>
                    </div>
                    <div class="caption" >
                        <p><strong>nombre:</strong> <span id="{{$index}}-nombre">{{record.nombre}}</span></p>
                        <p><strong>descripcion:</strong> <span id="{{$index}}-descripcion">{{record.descripcion}}</span></p>
                        <p><strong>clima:</strong> <span id="{{$index}}-clima">{{record.clima}}</span></p>
                        <p><strong>longitud:</strong> <span id="{{$index}}-longitud">{{record.longitud}}</span></p>
                    </div>
                    <p class="text-center">
                        <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ng-click="ctrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span>Editar</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="ctrl.editMode" class="col-md-6 well">
        <form novalidate name="form" id="ciudad-form" role="form" ng-submit="ctrl.saveRecord()">
            <alert ng-messages="form.$error" type="danger" close="" ng-hide="!form.$error.required">
                <div ng-message="required">
                    Por favor complete los campos
                </div>
            </alert>
            <fieldset>
                <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
                <div class="form-group col-md-12" ng-class="{'has-success': form.nombre.$valid && form.nickName.$dirty, 'has-error': form.nombre.$invalid && (form.nombre.$dirty || form.$submitted)}" >
                    <label for="nombre" class="col-md-2 control-label">nombre</label>
                    <div class="col-md-10">
                        <input id="nombre" name="nombre" class="form-control" type="text" ng-model="currentRecord.nombre" required />
                    </div>
                </div>

                <div class="form-group col-md-12" ng-class="{'has-success': form.descripcion.$valid && form.descripcion.$dirty, 'has-error': form.descripcion.$invalid && (form.descripcion.$dirty || form.$submitted)}" >
                    <label for="descripcion" class="col-md-2 control-label">descripcion</label>
                    <div class="col-md-10">
                        <input id="descripcion" name="descripcion" class="form-control" type="text" ng-model="currentRecord.descripcion" required />
                    </div>
                </div>
                <div class="form-group col-md-12" ng-class="{'has-success': form.clima.$valid && form.clima.$dirty, 'has-error': form.clima.$invalid && (form.clima.$dirty || form.$submitted)}" >
                    <label for="clima" class="col-md-2 control-label">clima</label>
                    <div class="col-md-10">
                        <input id="clima" name="clima" class="form-control" type="text" ng-model="currentRecord.clima" required />
                    </div>
                </div>
                <div class="form-group col-md-12" ng-class="{'has-success': form.longitud.$valid && form.longitud.$dirty, 'has-error': form.longitud.$invalid && (form.longitud.$dirty || form.$submitted)}" >
                    <label for="longitud" class="col-md-2 control-label">longitud</label>
                    <div class="col-md-10">
                        <input id="longitud" name="longitud" class="form-control" type="text" ng-model="currentRecord.longitud" required />
                    </div>
                </div>
                <div class="form-group col-md-12" ng-class="{'has-success': form.latitud.$valid && form.latitud.$dirty, 'has-error': form.latitud.$invalid && (form.latitud.$dirty || form.$submitted)}" >
                    <label for="latitud" class="col-md-2 control-label">latitud</label>
                    <div class="col-md-10">
                        <input id="latitud" name="latitud" class="form-control" type="text" ng-model="currentRecord.latitud" required />
                    </div>
                </div>
                <!--                <div class="form-group col-md-12" ng-class="{'has-success': form.image.$valid && form.image.$dirty, 'has-error': form.image.$invalid && (form.image.$dirty || form.$submitted)}" >
                                    <label for="image" class="col-md-2 control-label">Image</label>
                                    <div class="col-md-10">
                                        <input id="image" name="image" class="form-control" type="text" ng-model="currentRecord.image" required />
                                    </div>
                                </div>-->
            </fieldset>
        </form>
    </div>
    <!--    <footer class="container-fluid text-center">
            <p>GoTravel</p>
        </footer>-->

</div>