<div>
    <!-- Div que contiene los botones de crear ciudad y refrescar -->
    <div class="collapse navbar-collapse" id="ciudad-navbar">
        <button type="button" id="create-ciudad" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="ctrl.createRecord()"><span class="glyphicon glyphicon-plus"></span> Crear ciudad</button>
        <button id="refresh-ciudad" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="ctrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refrescar</button>
    </div>

    <!-- Alert que se ejecuta cuando ciudad.tpl.html se despliega -->
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>

    <!-- Div que despliega la informacion de una ciudad creada -->
    <div ng-hide="ctrl.eventosMode">
        <div class="col-sm-12">
            <div ng-repeat="record in records">
                <div class="col-md-4 col-sm-6 col-lg-3 well">
                    <div class="caption" >
                        <p><strong>Nombre:</strong> <span id="{{$index}}-name">{{record.name}}</span></p>
                        <p><strong>Descripcion:</strong> <span id="{{$index}}-descripcion">{{record.descripcion}}</span></p>
                        <p><strong>Clima:</strong> <span id="{{$index}}-clima">{{record.clima}}</span></p>
                        <p><strong>Longitud:</strong> <span id="{{$index}}-longitud">{{record.longitud}}</span></p>
                        <p><strong>Latitud:</strong> <span id="{{$index}}-latitud">{{record.latitud}}</span></p>
                    </div>
                    <p class="text-center">
                        <button id="{{$index}}-showEventos-btn" class="btn btn-default btn-sm" ng-click="ctrl.showEventos()"><span class="glyphicon glyphicon-th"></span> Mostrar eventos</button>
                        <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ng-click="ctrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span> Editar</button>
                        <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Div que se despliega cuando se presiona el boton Crear ciudad -->
    <div ng-show="ctrl.editMode" class="col-md-6 well">
        <form novalidate name="form" id="ciudad-form" role="form" ng-submit="ctrl.saveRecord()">
            <alert ng-messages="form.$error" type="danger" close="" ng-hide="!form.$error.required">
                <div ng-message="required">
                    Por favor ingrese los datos de la ciudad
                </div>
            </alert>
            <fieldset>
                <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
                <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                    <label for="name" class="col-md-2 control-label">Nombre</label>
                    <div class="col-md-10">
                        <input id="name" name="name" class="form-control" type="text" ng-model="currentRecord.name" required />
                    </div>
                </div>
                <div class="form-group col-md-12" ng-class="{'has-success': form.descripcion.$valid && form.descripcion.$dirty, 'has-error': form.descripcion.$invalid && (form.descripcion.$dirty || form.$submitted)}" >
                    <label for="descripcion" class="col-md-2 control-label">Descripcion</label>
                    <div class="col-md-10">
                        <input id="descripcion" name="descripcion" class="form-control" type="text" ng-model="currentRecord.descripcion" required />
                    </div>
                </div>
                <div class="form-group col-md-12" ng-class="{'has-success': form.clima.$valid && form.clima.$dirty, 'has-error': form.clima.$invalid && (form.clima.$dirty || form.$submitted)}" >
                    <label for="clima" class="col-md-2 control-label">Clima</label>
                    <div class="col-md-10">
                        <input id="clima" name="clima" class="form-control" type="text" ng-model="currentRecord.clima" required />
                    </div>
                </div>
                <div class="form-group col-md-12" ng-class="{'has-success': form.longitud.$valid && form.longitud.$dirty, 'has-error': form.longitud.$invalid && (form.longitud.$dirty || form.$submitted)}" >
                    <label for="longitud" class="col-md-2 control-label">Longitud</label>
                    <div class="col-md-10">
                        <input id="longitud" name="longitud" class="form-control" type="text" ng-model="currentRecord.longitud" required />
                    </div>
                </div>
                <div class="form-group col-md-12" ng-class="{'has-success': form.latitud.$valid && form.latitud.$dirty, 'has-error': form.latitud.$invalid && (form.latitud.$dirty || form.$submitted)}" >
                    <label for="latitud" class="col-md-2 control-label">Latitud</label>
                    <div class="col-md-10">
                        <input id="latitud" name="latitud" class="form-control" type="text" ng-model="currentRecord.latitud" required />
                    </div>
                </div>
            </fieldset>

            <button id="save-ciudad" type="submit" form="ciudad-form" class="btn btn-default navbar-btn" ng-show="ctrl.editMode"><span class="glyphicon glyphicon-save"></span> Agregar</button>
            <button id="cancel-ciudad" type="button" form="ciudad-form" class="btn btn-default navbar-btn" ng-show="ctrl.editMode" ng-click="form.$setPristine(); ctrl.fetchRecords();"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
        </form>
    </div>

    <div id="separador" ng-show="ctrl.showEventosMode">
        <h6>Información de la ciudad</h6>
    </div>

    <div  id="headingCiudad" class="well" ng-show="ctrl.showEventosMode" ng-repeat="record in records">
        <h1>{{record.name}}</h1>
    </div>

    <div ng-show="ctrl.showEventosMode">
        <button type="button" id="create-evento" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="count = count + 1"><span class="glyphicon glyphicon-plus"></span> Crear evento</button>
        <button id="refresh-evento" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="ctrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refrescar</button>
        <p>{{count}}</p>
    </div>

    <div id="eventosCiudad" ng-show="ctrl.showEventosMode">
        <div class="instrucciones">
            <button type="button" class="btn btn-primary">Evento deportivo</button>
            <button type="button" class="btn btn-success">Concierto</button>
            <button type="button" class="btn btn-info">Restaurante</button>
            <button type="button" class="btn btn-warning">Evento cultural</button>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">SANTA FE VS MILLONARIOS</div>
                        <div class="panel-body"><img src="https://upload.wikimedia.org/wikipedia/commons/8/80/Tuchin_Balon_Futbol_Colombiano.jpg" class="img-responsive" style="width:100%" alt="Balón de la Liga Águila"></div>
                        <div class="panel-footer">Clásico capitalino correspondiente a la fecha 9 de la Liga Aguila. <strong>Sábado 9 de Abril 5:45 pm.</strong></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">CONCIERTO COLDPLAY</div>
                        <div class="panel-body"><img src="https://upload.wikimedia.org/wikipedia/commons/3/3d/Coldplay-snl.jpg" class="img-responsive" style="width:100%" alt="Integrantes de la banda Coldplay"></div>
                        <div class="panel-footer">El concierto de una de las bandas británicas más populares se realizará en el estadio El Campín. <strong>Miércoles 13 de Abril 8:00 pm.</strong></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">GoTravel restaurant</div>
                        <div class="panel-body"><img src="https://static.pexels.com/photos/7900/food-pasta-tomato-theme-workspaces.jpg" class="img-responsive" style="width:100%" alt="Pasta"></div>
                        <div class="panel-footer">Inauguración de restaurante italiano en Ciudad Salitre. <strong>Lunes 18 de Abril 9:00 pm.</strong></div>
                    </div>
                </div>
            </div>
        </div><br>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">NUEVA OBRA DE TEATRO</div>
                        <div class="panel-body"><img src="https://pixabay.com/static/uploads/photo/2016/01/19/15/48/luggage-1149289_960_720.jpg" class="img-responsive" style="width:100%" alt="Foto de una maleta"></div>
                        <div class="panel-footer">Se estrena la esperada obra GoTravel. <strong>Sábado 23 de Abril 12:00 pm.</strong> </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">CICLOVIA NOCTURNA</div>
                        <div class="panel-body"><img src="https://adventurebeforeavarice.files.wordpress.com/2013/11/la-septima1.jpg" class="img-responsive" style="width:100%" alt="Ciclistas en Bogotá"></div>
                        <div class="panel-footer">Aproveche el próximo jueves por la noche para dar un paseo por Bogotá. <strong>Jueves 28 de Abril 6:00 pm.</strong> </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">TORNEO WTA</div>
                        <div class="panel-body"><img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Pereira_WMQ13-007.jpg" class="img-responsive" style="width:100%" alt="Teliana Pereira, jugadora de tenis"></div>
                        <div class="panel-footer">Bogotá será sede de un torneo WTA, en el que figuran jugadoras como Teliana Pereira. <strong>Del 11 al 17 de Abril.</strong></div>
                    </div>
                </div>
            </div>
        </div><br><br>

    </div>

    <footer class="container-fluid text-center">
        <p>GoTravel</p>
    </footer>

</div>
