

<div id="prize-header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#prize-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Itinerarios</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="prize-navbar">
                <button id="create-prize" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="ctrl.createRecord()"><span class="glyphicon glyphicon-plus"></span> Create</button>
                <button id="refresh-prize" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="ctrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
                <button id="save-prize" type="submit" form="prize-form" class="btn btn-default navbar-btn" ng-show="ctrl.editMode"><span class="glyphicon glyphicon-save"></span> Save</button>
                <button id="cancel-prize" type="button" form="prize-form" class="btn btn-default navbar-btn" ng-show="ctrl.editMode" ng-click="form.$setPristine(); ctrl.fetchRecords();"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            </div>
        </div>
    </nav>
</div>
<div ng-hide="ctrl.editMode" class="col-md-12">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records">
                <td id="{{$index}}-name">{{record.name}}</td>
                <td id="{{$index}}-fechaInicio">{{record.fechaInicio | date}}</td>
                <td id="{{$index}}-fechaFin">{{record.fechaFin | date}}</td>
                <td>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ng-click="ctrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="ctrl.editMode" class="col-md-12 well">
    <form novalidate name="form" id="prize-form" role="form" ng-submit="form.$valid && ctrl.saveRecord()">
        <alert ng-messages="form.$error" type="danger" close="" ng-hide="!form.$error.required">
            <div ng-message="required">
                Please, Fill the required field!
            </div>
        </alert>
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                <label for="name" class="col-md-2 control-label">Name</label>
                <div class="col-md-10">
                    <input id="name" name="name" class="form-control" type="text" ng-model="currentRecord.name" required />
                </div>
            </div>
            <div class="form-group col-md-12" ng-class="{'has-success': !form.date.$error.required && form.date.$dirty, 'has-error': form.date.$error.required && (form.date.$dirty || form.$submitted)}">
                <label for="date" class="col-md-2 control-label">Fecha Inicio:</label>
                <div class="col-md-10">
                    <p class="input-group">
                        <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="currentRecord.fechaInicio" is-open="cdate.customStartDate.open" ng-click = "cdate.customStartDate.open = true" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" class="input-md" readonly/>
                    </p>
                </div>
            </div>
            <div class="form-group col-md-12" ng-class="{'has-success': !form.date.$error.required && form.date.$dirty, 'has-error': form.date.$error.required && (form.date.$dirty || form.$submitted)}">
                <label for="date2" class="col-md-2 control-label">Fecha Fin:</label>
                <div class="col-md-10">
                    <p class="input-group">
                        <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="currentRecord.fechaFin" is-open="cdate2.customStartDate.open" ng-click = "cdate2.customStartDate.open = true" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" class="input-md" readonly/>
                    </p>
                </div>
            </div>
        </fieldset>
    </form>
</div>
